.checkout-item-container {
  width: 100%;
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid darkgrey;
  padding: 15px 0;
  font-size: 20px;

  .checkout-item-img {
    width: 23%;
    padding-right: 15px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .checkout-item-name,
  .checkout-item-quantity,
  .checkout-item-price,
  .checkout-item-remove {
    width: 23%;
    margin: auto;
    display: flex;
    justify-content: center;
  }

  .checkout-item-quantity {
    display: flex;
    justify-content: center;
    font-size: 25px;

    .arrow {
      margin: 0 20px;
      cursor: pointer;
    }
  }
}
